name: tarameteo
services:
  api:
    volumes:
      - ./backend/tarameteo:/app/tarameteo
      - ./backend/alembic:/app/alembic
    command: >
      bash -c "alembic upgrade head && uvicorn --host=0.0.0.0 --port=80 tarameteo.api:app --log-config=/app/log-config.dev.yaml --reload"

  frontend:
    build:
      target: dev
    volumes:
      - ./ui/src:/app/src
    environment:
      NODE_ENV: development
    command: npm run dev -- --port=80
