name: tarameteo

services:
  certbot:
    image: certbot/certbot:v5.2.2
    volumes:
      - ./certbot/deploy-hook.sh:/deploy-hook.sh:ro,Z
      - certbot-certs:/etc/letsencrypt
      - certbot-www:/var/www/html
    environment:
      - SERVER_HOSTNAME=${SERVER_HOSTNAME}
    networks:
      default:
        aliases:
          - tarameteo-certbot
    command: >
      sh -c "trap exit TERM; while :; do
        certbot renew --webroot --webroot-path=/var/www/html --deploy-hook /deploy-hook.sh;
        sleep 12h;
      done"
    entrypoint: ""
    restart: always
    healthcheck:
      test: [ "CMD", "test", "-e", "/etc/letsencrypt/live/fullchain.pem" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 15

  mosquitto:
    build: mosquitto
    depends_on:
      certbot:
        condition: service_healthy
    volumes:
      - certbot-certs:/etc/letsencrypt:ro
      - mosquitto-data:/mosquitto/data
      - ./mosquitto/mosquitto.tpl:/mosquitto.tpl
    environment:
      - MQTT_USERNAME=${MQTT_USERNAME:-admin}
      - MQTT_PASSWORD=${MQTT_PASSWORD}
      - MOSQUITTO_TEMPLATE=/mosquitto.tpl
    ports:
      - '${MQTT_PORT:-1883}:1883'
      - '${MQTTS_PORT:-8883}:8883'
    networks:
      default:
        aliases:
          - tarameteo-mosquitto
    restart: always

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: ${IPV4_NETWORK:-172.22.1}.0/24

volumes:
  certbot-certs:
  certbot-www:
  mosquitto-data:
