name: tarameteo
services:
  api:
    volumes:
      - ./backend/tarameteo:/app/tarameteo
    command: >
      bash -c "uvicorn --host=0.0.0.0 --port=80 tarameteo.api:app --log-config=/app/log-config.dev.yaml --reload --reload-exclude='.*'"

  issuer:
    volumes:
      - ./backend/tarameteo:/app/tarameteo
    command: >
      bash -c "uvicorn --host=0.0.0.0 --port=80 tarameteo.issuer:app --log-config=/app/log-config.dev.yaml --reload --reload-exclude='.*'"

  certbot:
    volumes:
      - ./certbot/generate-cert.sh:/generate-cert.sh:ro
    environment:
      - IPV4_NETWORK=${IPV4_NETWORK:-172.22.1}
    command: >
      sh -c "trap exit TERM; /generate-cert.sh; /deploy-hook.sh; echo Ready; sleep infinity"
